<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Registration</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}"> 

</head>
<body>
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-truncate">Welcome</h1>
                        <div id="registerbg">
                        <div class="px-2">
                            <div class="justify-content-center">
                                <h2>registration</h2>
                                {% if messages %}
                                <ul class="messages">    
                                    {% for message in messages %}    
                                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                                    {% endfor %}
                                    {% endif %}
                                    <form action="/register" method="post">
                                        {% csrf_token %}
                                        
                                        <!-- first name -->
                                        <div class="form-floating">
                                            <input name="first_name" type="text" class="form-control" id="floatingInput" placeholder="First Name">
                                            <label for="floatingInput"></label>
                                        </div>
                                        
                                        <!-- last name -->
                                        <div class="form-floating">
                                            <input name="last_name" type="text" class="form-control" id="floatingInput" placeholder="Last Name">
                                            <label for="floatingInput"></label>
                                        </div>
                                        
                                        <!-- email -->
                                        <div class="form-floating">
                                            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email">
                                            <label for="floatingInput"></label>
                                        </div>

                                        <!-- password -->
                                        <div class="form-floating">
                                            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                            <label for="floatingPassword"></label>
                                        </div>

                                        <!-- confirm -->
                                        <div class="form-floating">
                                            <input name="confirm_password" type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                                            <label for="floatingPassword"></label>
                                        </div>
                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                            </form>
                            <br>
                            <br>
                            <h6><a href="/">Already a User?</a></h6>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


